.label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 30px;
    width: 200px;
    vertical-align: top;
}

.labelBlock {
    display: block;
}

.input {
    border: 0 solid;
    border-bottom: 1px solid rgb(51, 65, 72);
    display: inline-block;
    font-size: 16px;
    height: 30px;
    margin-right: 30px;
    width: 200px;
}

/* to style the input with type='file' */
.inputFile {
    margin-bottom: 10px;
}

/* to style other inputs on the admin files form */
.inputFilesForm {
    border-radius: 5px;
}

.inputSubmit {
    background-color: rgb(51, 65, 72);
    border: 2px solid rgb(51, 65, 72);
    border-radius: 16px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 430px;
}

.inputSubmitAdmin {
    text-align: center;
    width: 150px;
}

.inputSubmit:hover {
    background-color: white;
    color: rgb(51, 65, 72);
}

.inputWide {
    width: 430px;
}

.input:focus {
    outline-width: 0;
}

.select {
    border-radius: 5px;
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}

.divEmail {
    height: 100px;
}

.warning {
    color: red;
    line-height: 1.5;
}

.height {
    height: 5px;
}