.title {
    padding: 1em 0.5em;
    margin: 0 15vw;
}

.solutionsContainer {
    margin: 2.5em 20vw;
}

.solutionsContainer div{
    margin-bottom: 2.5em;
    padding: 1em;
    max-width: inherit;
}

.homeContainer {
    width: 100%;
}

.homeContainer > div {
    display: flex;
    overflow: scroll;
}

.homeContainer > h3 {
    padding: 1em 0.5em;
    margin: 0 15vw;
}