.resultContainer {
    margin: 2em 15vw;
    flex-shrink: 1;
    box-shadow: 10px 10px 10px 10px rgb(51,65,72);
}

.resultContainer > div {
    display: flex;
    padding: 15px;
}

.spContainer {
    justify-content: space-evenly;
    margin: 0 4em;
}

.spContainer > div {
    display: flex;
    padding: 0 1em;
}

.spContainer > div > * {
    padding: inherit;
}

.restContainer {
    justify-content: space-between;
    margin: 0 10%;
}

.title {
    justify-content: center;
}

.title * {
    margin: 0 15px;
    align-self: center;
}