.container {
    display: flex;
}

.relatedContainer {
    margin: 0;
    padding: 20px;
    height: 85vh;
    overflow: scroll;
}

.relatedContainer > section {
    margin: 0;
}

.relatedContainer > section > div {
    display: block;
}

.relatedContainer  {
    text-align: center;
}

.hideContent {
    display: none;
}

.pdfViewer {
    margin: 0 10vw;
}

.pdfContainer {
    width: 75%;
    text-align: center;
}