.container {
    display: flex;
}

.relatedContainer {
    border: solid 2px rgb(0,0,0);
    margin: 0;
    padding: 20px
}

.relatedContainer > section {
    margin: 0;
}

.relatedContainer > section > div {
    display: block;
}

.relatedContainer  {
    text-align: center;
}

.hideContent {
    display: none;
}

.pdfViewer {
    margin: 0 5vw;
}