.topBar {
    display: flex;
    justify-content: space-between;
}

.topBar img {
    height: 80px;
}

.logo {
    margin: 0 30px;
}

.searchMenu {
    height: 40px;
    margin: 14pm 30px;
}

#advSearch {
    min-width: 15vw;
}

.logout {
    margin: 30px 50px;
} 